body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 0;
}

h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 0;
}

p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

a {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #A6AEBF;
}

a:visited {
    color: #9C80F7;
}

a:hover {
    color: #A6AEFF;
}

.last-section {
    padding-bottom: 90px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-60 {
    margin-top: 60px;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.line {
    width: 900px;
    height: 1px;
    background-color: #A6AEBF;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 1px;
}

.container {
    width: 980px;
}

#logo {
    width: 400px;
    height: 119px;
}

@media (max-width: 440px) {
    #logo {
        width: 95vw;
        height: calc(95vw / 3.375);
    }
}

.structure {
    margin-top: 40px;
}

#user1 {
    width: 275px;
    height: 136px;
}

#user2 {
    width: 578px;
    height: 400px;
}

#user3 {
    width: 889px;
    height: 1016px;
}

#user4 {
    width: 517px;
    height: 312px;
}

#admin1 {
    width: 275px;
    height: 136px;
}

#admin2 {
    width: 964px;
    height: 664px;
}

#admin3 {
    width: 681px;
    height: 1720px;
}

@media (max-width: 1020px) {
    .container {
        width: 95vw;
    }

    .line {
        width: 95vw;
    }
}
